.box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2B2B2B;
}
.box-image{
    margin: 70px auto 0;
    width: 200px;
    height: 200px;
    z-index: 9999;
    animation: Roate 4s linear infinite;
    -webkit-animation:Roate 4s linear infinite;
}
.box-image img{
    width: 100%;
    z-index: 99999;
}
@keyframes Roate{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}